<div class="g-3">
  <%= form_with model: bank_billet, class: "row" do |form| %>
    <div class="col-md-6">
      <%= form.label :amount %><br>
      <%= form.number_field :amount %>
    </div>

    <div class="col-md-6">
      <%= form.label :expire_at %><br>
      <%= form.date_field :expire_at %><br>
    </div>

    <div class="col-md-6">
      <%= form.label :customer_person_name %><br>
      <%= form.text_field :customer_person_name %><br>
    </div><br>

    <div class="col-md-6">
      <%= form.label :customer_cnpj_cpf %><br>
      <%= form.text_field :customer_cnpj_cpf %><br>
    </div>

    <div class="col-md-6">
      <%= form.label :customer_state %><br>
      <%= form.text_field :customer_state %><br>
    </div>

    <div class="col-md-6">
      <%= form.label :customer_city_name %><br>
      <%= form.text_field :customer_city_name %><br>
    </div>

    <div class="col-md-6">
      <%= form.label :customer_zipcode %><br>
      <%= form.text_field :customer_zipcode %><br>
    </div>

    <div class="col-md-6">
      <%= form.label :customer_address %><br>
      <%= form.text_field :customer_address %><br>
    </div>

    <div class="col-md-6">
      <%= form.label :customer_address_neighborhood %><br>
      <%= form.text_field :customer_address_neighborhood %><br>
    </div>

    <div class="col-md-6">
      <%= form.submit %>
    </div>
  <% end %>
</div>
