<h1>Boleto Bancário</h1>

<%= @bank_billet.amount %>
<%= @bank_billet.expire_at %>
<%= @bank_billet.customer_person_name %>
<%= @bank_billet.customer_cnpj_cpf %>
<%= @bank_billet.customer_state %>
<%= @bank_billet.customer_city_name %>
<%= @bank_billet.customer_zipcode %>
<%= @bank_billet.customer_address %>
<%= @bank_billet.customer_address_neighborhood %>

<%= link_to 'Edit', edit_bank_billet_path(@bank_billet) %>
<%= link_to 'Voltar', bank_billets_path(@bank_billet) %>
